@import './constants';
@import './mixins';

* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(135deg, #e7e7ef, #28285f);
}

body[data-theme='dark'] {
  background: linear-gradient(135deg, #1a1a2e, #28285f);
}

a {
  text-decoration: none;
  cursor: pointer;
}
