$font-header-family: 'Roboto', sans-serif;
$transition-all: all 0.3s ease;

$color-pink: #ff00cc;
$color-light-pink: #fff1f5;
$color-background: #ffe3ec;
$color-dark-blue: #1a1a2e;
$color-dark-purple: #28285f;
$color-white: #ffffff;
$color-gray: #5c5c5c;
$color-border: rgba(255, 192, 203, 0.2);
$color-input-border: rgba(255, 192, 203, 0.5);
$color-input-focus: $color-pink;
$color-neutral-bg: #e0e0e0;
$color-placeholder: #9b9d9f;
$color-input-text: black;
$color-input-background: #fdf6fb;
$color-input-focus-bg: #fff0f8;

// ErrorBoundary style
$color-error-bg: #ffebee;        
$color-error-border: #ef5350;    
$color-error-text: #c62828;      
$color-error-heading: #b71c1c;   
$color-error-details-text: #e53935;  
$color-error-details-bg: #ffcdd2;    
$color-error-hover: #e53935;

// Loading & error
$color-info: #2563eb;
$color-danger: #dc2626;

// Pagination
$color-pagination-bg: #d1d5db;
$color-pagination-hover: #9ca3af;
$color-pagination-disabled: #e5e7eb;
$color-pagination-active: #3b82f6;

// Throw button
$color-throw-bg: #ef4444;
$color-throw-hover: #dc2626;



