.skeleton {
  animation: pulse 1.5s infinite;
}

.imageSkeleton {
  width: 100%;
  height: 200px;
  background-color: $color-neutral-bg;
}

.textSkeleton {
  height: 16px;
  margin: 0.75rem 1rem;
  background-color: $color-neutral-bg;
  border-radius: 4px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
