.nav {
  display: flex;
  justify-content: space-between;
  font-family: $font-header-family;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(135deg, $color-dark-blue, $color-dark-purple);
  color: $color-white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  box-shadow:
    0 8px 25px rgba($color-pink, 0.25),
    0 0 15px rgba(0, 255, 255, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: $color-white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  gap: 5px;

  &:hover {
    transition: $transition-all;
    color: $color-pink;
    @include pulse-animation;
  }
}

.image {
  width: 2rem;
}

.container {
  display: flex;
  gap: 1.5rem;
}

.link {
  position: relative;
  color: $color-white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: $transition-all;
  z-index: 1;

  &:hover {
    color: $color-pink;
    text-shadow: none;
    @include pulse-animation;
  }
}
