.search {
  display: flex;
  justify-content: center;
  gap: 1rem;  
}

.input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid $color-input-border;
  width: 250px;
  color: $color-input-text; 
  background-color: $color-input-background;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &::placeholder {
    color: $color-placeholder;
  }

  &:focus {
    outline: none;
    border-color: $color-input-focus;
    box-shadow: 0 0 20px $color-pink;
    background-color: $color-input-focus-bg;
  }
}

.button {
  background-color: $color-dark-purple;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: $transition-all;
  position: relative;
  z-index: 1;
  font-family: $font-header-family;
  font-weight: 500;
  color: $color-white;
  @include pulse-animation;
  
  &:hover {
	color: $color-pink; 
    text-shadow: none;
  }
}