.container {
  display: flex;
  flex-direction: column;	
  align-items: center;
  justify-content: center; 
  font-family: $font-header-family;
  height: 100vh;
}

.content {
  text-align: center; 
}

.title, .txt {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: $color-pink;
  text-shadow:
    0 0 5px $color-pink,
    0 0 10px $color-pink,
    0 0 20px $color-pink;
  font-weight: 700;
  animation: glowTitle 2s ease-in-out infinite alternate;
}

@keyframes glowTitle {
  0% {
    text-shadow: 0 0 5px $color-pink;
  }
  100% {
    text-shadow: 0 0 25px $color-pink;
  }
}